* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #efefef;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin: 0px auto;
  width: 90%;
  /* font-size: 12px; */
  /* max-width: 40rem;
    min-width: 20rem; */
}

header {
  border-bottom: 0.1rem solid #ccc;
  padding: 1em;
  background-color: beige;
  font-size: 12px;
}

header ul {
  list-style: none;
}
header ul a:link {
  text-decoration: none;
  color: black;
}

header ul a:hover {
  text-decoration: underline;
  color: blue;
}

header ul a:visited {
  color: purple;
}

header ul a:active {
  color: violet;
}
header img,
header h1 {
  padding-bottom: 10px;
  color: darkorange;
  text-decoration: underline;
  text-align: center;
}

header img {
  border-radius: 20px;
  width: 150px;
}

header div {
  display: inline-block;
  width: calc(100% - 170px);
  text-align: center;
}
main {
  margin-top: 0.2rem;
  border: 0.1rem solid #ccc;
  padding: 1rem;
}

section {
  margin-bottom: 1rem;
  font-size: 12px;
}

section h2 {
    margin-bottom: 0.5rem;
    color: darkorange;
    text-decoration: underline;
}
section h3 {
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    color: darkseagreen;
}
section ul {
  margin-left: 2.5rem;
}
footer {
    text-align: center;
    font-size: 10px;
    color: #555;
    margin-top: 1rem;
    padding: 0.5rem;
    border-top: 0.1rem solid #ccc;
}