* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  min-height: 100vh;
}

header {
  background-color: #ffcc5c;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5rem;
}
main {
  padding: 2rem;
  min-height: 90vh;
}
section {
  margin-bottom: 1rem;
}
section h2 {
  font-size: 1.2rem;
  color: #000600;
  padding-bottom: 0.5rem;
}

section p {
  line-height: 1.4;
}

section ul {
  margin-left: 2rem;
}
section ul li {
  line-height: 1.6;
}
#dog-gallery div img {
  width: 100%;
}
#dog-gallery div {
  display: grid;
  grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr;
  grid-template-areas: 
  "header header header"
  "main main sidebar"
  "sidebar footer footer";
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  min-height: 40vh;
  /* justify-content: center;
  align-content: center; */
  gap: 1rem;
}
#dog-gallery div figure {
  /* width: 15rem;
  height: 13rem; */
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}
#figure1 {
  background-color: aquamarine;
  /* grid-column-start: 2;
  grid-column-end: span 2; */
  /* grid-column: 2 / span 2; */
  /* grid-row-start: 1;
  grid-row-end: span 2; */
  /* grid-row: 1 / span 2; */
  grid-area: 1 / 2 / span 2 / 4;
  justify-self: center;
  align-self: center;
}
#figure2 {
  background-color: rgb(127, 217, 255);
  grid-area: 3 / 1 / span 2 / span 2;
  justify-self: stretch;
  align-self: stretch;
}
#figure3 {
  background-color: rgb(136, 127, 255);
  grid-area: main;
  justify-self: center;
}
#figure4 {
  background-color: rgb(255, 127, 242);
  grid-area: footer;
}
#form {
  max-width: 19rem;
}
#form label {
  display: block;
  margin-bottom: 0.5rem;
}

#form input,
#form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

#form button {
  margin-top: 0.5rem;
  background-color: #0066cc;
  color: #fff;
  padding: 0.2rem 0.8rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}

#form button:hover {
  background-color: #005cbf;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {
    #dog-gallery div {
        height: 80vh;
    }
}
@media only screen and (min-width: 900px) {
     #dog-gallery div figure {
        width: 20rem;
        height: 18rem;
    }
} 
@media only screen and (min-width: 1100px) {
    #dog-gallery div {
    }
     #dog-gallery div figure {
        width: 15rem;
        height: 13rem;
    }
} 
