* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  min-height: 100vh;
}

header {
  background-color: #ffcc5c;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5rem;
}
main {
  padding: 2rem;
  min-height: 90vh;
}
section {
  margin-bottom: 1rem;
}
section h2 {
  font-size: 1.2rem;
  color: #000600;
  padding-bottom: 0.5rem;
}

section p {
  line-height: 1.4;
}

section ul {
  margin-left: 2rem;
}
section ul li {
  line-height: 1.6;
}
#dog-gallery div img {
  width: 100%;
}
#dog-gallery div {
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
#dog-gallery div figure {
  width: 15rem;
  height: 13rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}
/* #figure1 {
  flex: 2 1 13rem;
  flex-basis: 13rem;
    flex-grow: 2;
    flex-shrink: 1;
}
#figure2 {
  flex: 1 2 17rem;
  flex-basis: 17rem;
    flex-grow: 1;
    flex-shrink: 2;
}
#figure3 {
  flex: 1 2 20rem;
  flex-basis: 20rem;
    flex-grow: 1;
    flex-shrink: 2;
}
#figure4 {
  flex: 2 1 10rem;
  flex-basis: 10rem;
  flex-grow: 2;
  flex-shrink: 1;
} */
#form {
  max-width: 19rem;
}
#form label {
  display: block;
  margin-bottom: 0.5rem;
}

#form input,
#form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

#form button {
  margin-top: 0.5rem;
  background-color: #0066cc;
  color: #fff;
  padding: 0.2rem 0.8rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}

#form button:hover {
  background-color: #005cbf;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {
    #dog-gallery div {
        height: 80vh;
        /* flex-direction: row;
        flex-wrap: wrap; */
        flex-flow: row wrap;
        align-content: space-evenly;
    }
}
@media only screen and (min-width: 900px) {
     #dog-gallery div figure {
        width: 20rem;
        height: 18rem;
    }
} 
@media only screen and (min-width: 1100px) {
    #dog-gallery div {
        flex-wrap: nowrap;
    }
     #dog-gallery div figure {
        width: 15rem;
        height: 13rem;
    }
} 
