* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: teal;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c0c0c0;
  width: 23rem;
  border: white 3px solid;
  border-bottom: black 3px solid;
  border-right: black 3px solid;
  box-shadow: 1px 2px 2px 0px rgb(77, 77, 77);
  /* padding: 0.5rem; */
}

.header {
  background: linear-gradient(90deg, rgb(11, 38, 108) 0%, rgb(162, 203, 245) 100%);
  color: white;
  padding: 0.2rem 1rem;
  font-weight: bold;
}

.content {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-content: center;
}

.content img {
  width: 50%;
}

.col-20 {
  width: 20%;
} 

.col-80 {
  width: 80%;
}

.btn {
  padding: 0.2rem 0.5rem;
  background: #c0c0c0;
  border: white 3px solid;
  border-bottom: black 3px solid;
  border-right: black 3px solid;
  box-shadow: 1px 2px 2px 0px rgb(77, 77, 77);
}

.btn:active {
  box-shadow: inset 1px 2px 2px 0px rgb(77, 77, 77);
}



