* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: teal;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c0c0c0;
  width: 23rem;
  border: white 3px solid;
  border-bottom: black 3px solid;
  border-right: black 3px solid;
  box-shadow: 1px 2px 2px 0px rgb(77, 77, 77);
  /* padding: 0.5rem; */
}

.header {
  background: linear-gradient(90deg, rgb(11, 38, 108) 0%, rgb(162, 203, 245) 100%);
  color: white;
  padding: 0.2rem 1rem;
  font-weight: bold;
}

.content {
  max-width: 90%;
  margin: 0.8rem 0.8rem;
}

.content figure,
.content .col-text {
  display: inline-block;
  margin: 0.3rem;
}
.content figure {
  width: 15%;
}
.content figure img {
  width: 100%;
  height: 100%;
}
.content .col-text {
  width: 75%;
}
.col-text {
  position: relative;
  top: -6px;
  left: 10px;
}

.content-text {
    margin-bottom: 0.5rem;
}
.col-btn {
    width: 15%;
    position: relative;
    right: -250px;
}
.col-btn button {
    padding: 0.2rem 0.4rem;
    background-color: #c0c0c0;
    border: white 3px solid;
    border-bottom: black 3px solid;
    border-right: black 3px solid;
    box-shadow: 1px 2px 2px 0px rgb(77, 77, 77);
}

.col-btn button:active {
    box-shadow: inset 1px 2px 2px 0px rgb(77, 77, 77);;
}